@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #about-us{
  border-bottom: 1px solid rgb(196, 196, 196);
} */
.my-swal-success #FF9F58 {
  background-color: #fff;
  color: white;
}

.my-swal-error {
  background-color: #F44336;
  color: white;
}

.swal-button-confirm {
  background-color: #030618;
  color: white; 
  border: none; 
}

.swal-button-confirm:hover {
  background-color: #252838 !important;
}

.swal-button-error {
  background-color: #FF5722; 
  color: white;
  border: none;
}